SCRIPTLATTES_ROOT=F:/Projetos/Mestrado/ScriptLattes/scriptLattes
SCRIPTLATTES_CONFIG_TEMPLATE=F:/Projetos/Mestrado/ScriptLattes/scriptLattes/config/data.config
FACULTY_URL=https://pgcomp.ufba.br/corpo-docente
FACULTY_VERIFY_SSL=false

# Diretórios da pipeline.
PIPELINE_ROOT=F:/Projetos/Mestrado/scraping lattes
INPUT_DIR=F:/Projetos/Mestrado/scraping lattes/data/input
OUTPUT_DIR=F:/Projetos/Mestrado/scraping lattes/data/output
PROFESSORS_NAMES_FILE=F:/Projetos/Mestrado/scraping lattes/data/input/professors-names.txt
